body{
	margin: 0px;
	padding: 0px;
	background: tomato;
	font-family: 'Lato', sans-serif;
}
  
nav{
	float: none; 
	clear: both;
	width: 30%; 
	margin: 10% auto;
	background: #eee;
}
  
nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
  
nav li{
	  float: none; 
	width: 100%;
}
  
nav li a{
	display: block; 
	width: 100%; 
	padding: 20px; 
	border-left: 5px solid; 
	position: relative; 
	z-index: 2;
	text-decoration: none;
	color: #444;
	box-sizing: border-box;  
	-moz-box-sizing: border-box;  
	-webkit-box-sizing: border-box; 
}
	  
nav li a:hover{ border-bottom: 0px; color: #fff;}
nav li:nth-child(	1	) a{ border-left: 10px solid	lime	;}
nav li:nth-child(	2	) a{ border-left: 10px solid	lime	;}
nav li:nth-child(	3	) a{ border-left: 10px solid	lime	;}
nav li:nth-child(	4	) a{ border-left: 10px solid	lime	;}
nav li:nth-child(	5	) a{ border-left: 10px solid	lime	;}
nav li:nth-child(	6	) a{ border-left: 10px solid	lime	;}
nav li:nth-child(	7	) a{ border-left: 10px solid	lime	;}
nav li:nth-child(	8	) a{ border-left: 10px solid	red	;}
nav li:nth-child(	9	) a{ border-left: 10px solid	red	;}
nav li:nth-child(	10	) a{ border-left: 10px solid	red	;}
nav li:nth-child(	11	) a{ border-left: 10px solid	red	;}
nav li:nth-child(	12	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	13	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	14	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	15	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	16	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	17	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	18	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	19	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	20	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	21	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	22	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	23	) a{ border-left: 10px solid	blue	;}
nav li:nth-child(	24	) a{ border-left: 10px solid	orange	;}
nav li:nth-child(	25	) a{ border-left: 10px solid	orange	;}
nav li:nth-child(	26	) a{ border-left: 10px solid	orange	;}
nav li:nth-child(	27	) a{ border-left: 10px solid	orange	;}
nav li:nth-child(	28	) a{ border-left: 10px solid	orange	;}
nav li:nth-child(	29	) a{ border-left: 10px solid	orange	;}
nav li:nth-child(	30	) a{ border-left: 10px solid	orange	;}
nav li:nth-child(	31	) a{ border-left: 10px solid	orange	;}
nav li:nth-child(	32	) a{ border-left: 10px solid	pink	;}
nav li:nth-child(	33	) a{ border-left: 10px solid	pink	;}
nav li:nth-child(	34	) a{ border-left: 10px solid	pink	;}
nav li:nth-child(	35	) a{ border-left: 10px solid	pink	;}
nav li:nth-child(	36	) a{ border-left: 10px solid	pink	;}

nav li a:after { 
	content: "";
	height: 100%; 
	left: 0; 
	top: 0; 
	width: 0px;  
	position: absolute; 
	transition: all 0.3s ease 0s; 
	-webkit-transition: all 0.3s ease 0s; 
	z-index: -1;
}
  
nav li a:hover:after{ width: 100%; }
nav li:nth-child(	1	) a:after{background:	lime	;}
nav li:nth-child(	2	) a:after{background:	lime	;}
nav li:nth-child(	3	) a:after{background:	lime	;}
nav li:nth-child(	4	) a:after{background:	lime	;}
nav li:nth-child(	5	) a:after{background:	lime	;}
nav li:nth-child(	6	) a:after{background:	lime	;}
nav li:nth-child(	7	) a:after{background:	lime	;}
nav li:nth-child(	8	) a:after{background:	red	;}
nav li:nth-child(	9	) a:after{background:	red	;}
nav li:nth-child(	10	) a:after{background:	red	;}
nav li:nth-child(	11	) a:after{background:	red	;}
nav li:nth-child(	12	) a:after{background:	blue	;}
nav li:nth-child(	13	) a:after{background:	blue	;}
nav li:nth-child(	14	) a:after{background:	blue	;}
nav li:nth-child(	15	) a:after{background:	blue	;}
nav li:nth-child(	16	) a:after{background:	blue	;}
nav li:nth-child(	17	) a:after{background:	blue	;}
nav li:nth-child(	18	) a:after{background:	blue	;}
nav li:nth-child(	19	) a:after{background:	blue	;}
nav li:nth-child(	20	) a:after{background:	blue	;}
nav li:nth-child(	21	) a:after{background:	blue	;}
nav li:nth-child(	22	) a:after{background:	blue	;}
nav li:nth-child(	23	) a:after{background:	blue	;}
nav li:nth-child(	24	) a:after{background:	orange	;}
nav li:nth-child(	25	) a:after{background:	orange	;}
nav li:nth-child(	26	) a:after{background:	orange	;}
nav li:nth-child(	27	) a:after{background:	orange	;}
nav li:nth-child(	28	) a:after{background:	orange	;}
nav li:nth-child(	29	) a:after{background:	orange	;}
nav li:nth-child(	30	) a:after{background:	orange	;}
nav li:nth-child(	31	) a:after{background:	orange	;}
nav li:nth-child(	32	) a:after{background:	pink	;}
nav li:nth-child(	33	) a:after{background:	pink	;}
nav li:nth-child(	34	) a:after{background:	pink	;}
nav li:nth-child(	35	) a:after{background:	pink	;}
nav li:nth-child(	36	) a:after{background:	pink	;}
  
  
  
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
  